<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <$= __( 'page-title-tone') $>
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Tone Analyzer">
  <meta name="og:description" content="This service uses linguistic analysis to detect joy, fear, sadness, anger, analytical, confident and tentative tones found in text.">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/extra.css">
</head>

<body>

     
      <div class='wrapper'>

        <input type="text" name="firstname" value="yass" id="usertext">
        <input type="submit" name="submit" id="submit">

      </div>



  <script type="text/javascript">
    
      $('#submit').click(function() {

            var usertext = $('#usertext').val()

            alert(usertext)

        });

  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/vendors/prism.js"></script>
  <script type="text/javascript" src="js/components/tab-panels.js"></script>
  <script type="text/javascript" src="js/components/helpers.js"></script>
  <script type="text/javascript" src="js/components/App.js"></script>
    <script type="text/javascript" src="js/components/giph.js"></script>


  <script type="text/javascript" src="js/demo.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/watson-developer-cloud/watson-developer-cloud.github.io/master/analytics.js" />
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[name="document-level"]').prop('checked', false);
      $('input[name="sentence-level"]').prop('checked', false);
      $(".description--anger").text("Evoked due to injustice, conflict, humiliation, negligence or betrayal. If anger is active, the individual attacks the target, verbally or physically. If anger is passive, the person silently sulks and feels tension and hostility.");
      $(".input--submit-button, .output--reset-button").click(function() {
        $('input[name="document-level"]').prop('checked', false);
        $('input[name="sentence-level"]').prop('checked', false);
      });
      $("input[name='document-level']").click(function() {
        setTimeout(function() {
          $('.dcl').hide(0).delay(2000).show(0);
          $('.document-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
      });
      $("input[name='sentence-level']").click(function() {
        setTimeout(function() {
          $('.scl').hide(0).delay(2000).show(0);
          $('.sentence-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
      });
    });
  </script>
</body>

</html>
